body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Prevents scrolling on the body level */
}

.container {
    display: flex;
    height: 100vh;
    /* Full viewport height */
}

#myCanvas,
#tree-container {
    flex: 1;
    /* Each child will take equal width */
    background-color: #ffffff;
    /* Just for visibility */
    overflow: auto;
    /* Allows scrolling within each section */
}

font-family:sans-serif;

/* default node supports */
.node {
    cursor: pointer;
}

.overlay {
    background-color: #EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
}

/* extra node support */
.xNode {
    cursor: pointer;
}

.xNode circle {
    fill: #fff;
    stroke: rgb(25, 175, 175);
    stroke-width: 1.5px;
}

.xNode text {
    font-size: 10px;
}

.yNode {
    cursor: pointer;
}

.yNode circle {
    fill: #fff;
    stroke: #f33;
    stroke-width: 1.5px;
}

.yNode text {
    font-size: 10px;
}

.hNode circle {
    fill: #fff;
    stroke: rgb(255, 179, 0);
    stroke-width: 1.5px;
}

.hNode text {
    font-size: 10px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show {
    display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
    display: none;
}